@media screen and (max-width: 480px){
.main-list {
 display: flex;
  flex-direction: column;
  align-items: center; /* Щоб центрувати */
  gap: 10px;

}
}
@media screen and (max-width: 480px){
.main-list-h2, .main-list-p{
    font-size: 14px; /* Зменшуємо розмір шрифту */
    margin-right: 0; /* Видаляємо відступ справа */
    text-align: center; /* Центруємо текст */
    margin-bottom: 10px; /* Додаємо відступ знизу для кращого вигляду */
}
}

@media screen and (max-width: 480px){
.list-h1{
    font-size: 26px; /* Зменшуємо розмір шрифту */
    margin-right: 0; /* Видаляємо відступ справа */
    text-align: center; /* Центруємо текст */
    
}
}

@media screen and (max-width: 480px){
.main-list-img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 120px; /* або фіксована висота */
  object-fit: cover; /* або contain, залежно від потреб */

}
}

@media screen and (max-width: 480px){
.nav-list, .address{
display: none;
}
}


@media screen and (max-width: 480px){
.hero-section{
 background-size: cover; /* або cover */
  background-position: center;
  width: 100%;  
}
}


@media screen and (max-width: 480px){
.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
}

@media screen and (max-width: 480px){
.button-primary{
 font-size: 16px;
 padding: 5px 12px;

}
}

@media screen and (max-width: 480px){
.What-We-Do{
 display: none;

}
}

@media screen and (max-width: 480px){
.main-h4{
 font-size: 28px;
margin-right: 0; /* Видаляємо відступ справа */
text-align: center; /* Центруємо текст */
}
}


@media screen and (max-width: 480px) {
  .Team-Section {
    flex-direction: column;
    align-items: center;
  }

  .text-decoration-none {
    flex: none;
    width: 100%;
    max-width: 100%;
  }

  .fonts-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2px;
    width: 100%;
  }

  .fonts-img img {
    width: 100%;
   
    height: auto;
  }
}


@media screen and (max-width: 480px){
.regular-customer{
 font-size: 28px;
text-align: center;
}
}

@media screen and (max-width: 480px) {
  .hero-img-clien {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    justify-content: center;
    max-width: 700px;
  }

  .hero-img-clien li {
    flex: 0 0 calc(50% - 15px); /* половина ширины минус половина gap */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-img-clien li img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

@media screen and (max-width: 480px){
.footer-section{
 font-size: 24px;
text-align: center;
}
}

@media screen and (max-width: 480px){
.footer-address, .footer-contact, .namber-address{
 font-size: 14px;
text-align: center;
}
}


@media screen and (max-width: 480px){
.footer-link-social-networks-item{
 font-size: 14px;
text-align: center;
}
}

@media screen and (max-width: 480px){
.footer-link-social-networks{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40%;
  right: 25%;
}
}

@media screen and (max-width: 480px){
.footer-section
{
  margin-top: 60px;
  padding-bottom: 300px;
}
}
@media screen and (max-width: 480px){
.container .main-nav
{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
  font-size: 24px;
}
}
@media screen and (max-width: 480px){
.main-h4
{
 padding: 0;
}
}

.menu-button .icon-cross{
  display: none;
}


.menu-button.is-open .icon-cross{
  display: block;
}


.menu-button.is-open .icon-menu{
  display: none;
}
.header{
  position: relative;

}
.menu-form{
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  height: 50px;
  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  &.is-open{
    display: block;
  } 
}





