.logo-text-primary,
.logo-blue {
  font-size: 26px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.logo-text-primary {
  color: var(--color-text-black);
}

.logo-blue {
  color: var(--primary-text-color);
}

.logo-text-primary:hover {
  color: var(--primary-text-color);
}


.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
