.hero-section {
  text-align: center;
  padding: 85px 0;
  margin: 0 0 94px;
  background: radial-gradient(20% 20%, rgba(0, 0, 0, 0.4), rgba(2, 0, 0, 0.4)), url(/docs/Photo/img-studio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section-portfolio {
  text-align: center;
  justify-content: center;
}


.logo-text-primary {
  display: inline-block;
  width: 150px; 
}

.logo-hidden {
  visibility: hidden; /* логотип скрыт, но место занимает */
}
